@charset "ISO-8859-1";
.changepassword .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
	gap: 2rem;
}

.changepassword .box-container .box {
	background: #fff;
	border-radius: .5rem;
	box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
	border: .2rem solid #16a085;
	padding: 2.5rem;
}